In [1]:
# Dependencies
import numpy as np
import datetime as dt
import pandas as pd

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [2]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [3]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [4]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June.
#june = dt.date(2017,6,30) - dt.timedelta(days=30)
results_june_temps=[]
results_june_temps = session.query(Measurement.tobs).filter(extract("month", Measurement.date) == 6).all()
print(results_june_temps[:min(10, len(results_june_temps))])

[(78.0,), (76.0,), (78.0,), (76.0,), (77.0,), (78.0,), (77.0,), (78.0,), (78.0,), (79.0,)]

In [5]:
#  3. Convert the June temperatures to a list.
results_june_temps_dates=[]
results_june_temps_dates = session.query(Measurement.date, Measurement.tobs).filter(extract("month",Measurement.date)==6).all()
print(results_june_temps_dates[:min(10, len(results_june_temps_dates))])

[('2010-06-01', 78.0), ('2010-06-02', 76.0), ('2010-06-03', 78.0), ('2010-06-04', 76.0), ('2010-06-05', 77.0), ('2010-06-06', 78.0), ('2010-06-07', 77.0), ('2010-06-08', 78.0), ('2010-06-09', 78.0), ('2010-06-10', 79.0)]

In [6]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
results_june_temps = list(np.ravel(results_june_temps))

In [7]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
june_df = pd.DataFrame(results_june_temps,columns=['June Temps'])
june_df.describe()

        June Temps
count  1700.000000
mean     74.944118
std       3.257417
min      64.000000
25%      73.000000
50%      75.000000
75%      77.000000
max      85.000000

In [8]:
# June precipitation
results_june_precip = []
results_june_precip =    session.query(Measurement.prcp).filter(extract("month",Measurement.date) == 6).all()
print(results_june_precip[:min(10, len(results_june_precip))])

[(0.0,), (0.01,), (0.0,), (0.0,), (0.0,), (0.0,), (0.0,), (0.0,), (0.0,), (0.0,)]

In [9]:
# June precipitation
results_june_precip = list(np.ravel(results_june_precip))
june_precip_df = pd.DataFrame(results_june_precip,columns=['June Precip'])
june_precip_df.describe()

       June Precip
count  1574.000000
mean      0.136360
std       0.335731
min       0.000000
25%       0.000000
50%       0.020000
75%       0.120000
max       4.430000

## D2: Determine the Summary Statistics for December

In [10]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
results_dec_temps=[]
results_dec_temps = session.query(Measurement.tobs).filter(extract("month",Measurement.date) == 12).all()
print(results_dec_temps[:min(10, len(results_dec_temps))])

[(76.0,), (74.0,), (74.0,), (64.0,), (64.0,), (67.0,), (77.0,), (66.0,), (69.0,), (68.0,)]

In [11]:
# 7. Convert the December temperatures to a list.
results_dec_temps = list(np.ravel(results_dec_temps))

In [12]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
dec_df = pd.DataFrame(results_dec_temps,columns=['Dec Temps'])
dec_df.head(10)

   Dec Temps
0       76.0
1       74.0
2       74.0
3       64.0
4       64.0
5       67.0
6       77.0
7       66.0
8       69.0
9       68.0

In [13]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
dec_df.describe()

         Dec Temps
count  1517.000000
mean     71.041529
std       3.745920
min      56.000000
25%      69.000000
50%      71.000000
75%      74.000000
max      83.000000

In [31]:
results_dec_precip = []
results_dec_precip =    session.query(Measurement.prcp).filter(extract("month",Measurement.date) == 12).all()
print(results_dec_precip[:min(10, len(results_dec_precip))])

[(0.04,), (0.0,), (0.0,), (0.0,), (0.0,), (0.0,), (0.0,), (1.58,), (0.77,), (0.0,)]

In [33]:
results_dec_precip = list(np.ravel(results_dec_precip))
dec_precip_df = pd.DataFrame(results_dec_precip,columns=['Dec Precip'])
dec_precip_df.describe()

        Dec Precip
count  1405.000000
mean      0.216819
std       0.541399
min       0.000000
25%       0.000000
50%       0.030000
75%       0.150000
max       6.420000

In [15]:
results_feb_temps=[]
results_feb_temps = session.query(Measurement.tobs).filter(extract("month", Measurement.date) == 2).all()
print(results_feb_temps[:min(10, len(results_feb_temps))])

[(66.0,), (67.0,), (69.0,), (67.0,), (67.0,), (64.0,), (69.0,), (73.0,), (73.0,), (69.0,)]

In [16]:
results_feb_temps_dates=[]
results_feb_temps_dates = session.query(Measurement.date, Measurement.tobs).filter(extract("month",Measurement.date) == 2).all()
print(results_feb_temps_dates[:min(10, len(results_feb_temps_dates))])

[('2010-02-01', 66.0), ('2010-02-03', 67.0), ('2010-02-04', 69.0), ('2010-02-05', 67.0), ('2010-02-06', 67.0), ('2010-02-07', 64.0), ('2010-02-08', 69.0), ('2010-02-09', 73.0), ('2010-02-11', 73.0), ('2010-02-12', 69.0)]

In [17]:
results_feb_temps = list(np.ravel(results_feb_temps))

In [34]:
feb_df = pd.DataFrame(results_feb_temps,columns=['Feb Temps'])

In [19]:
results_feb_precip = []
results_feb_precip =    session.query(Measurement.prcp).filter(extract("month",Measurement.date) == 2).all()
print(results_feb_precip[:min(10, len(results_feb_precip))])

[(0.01,), (None,), (0.01,), (0.0,), (0.0,), (0.0,), (0.0,), (0.0,), (0.0,), (0.02,)]

In [20]:
results_feb_precip = list(np.ravel(results_feb_precip))
feb_precip_df = pd.DataFrame(results_feb_precip,columns=['Feb Precip'])

In [21]:
feb_precip_df.describe()

        Feb Precip
count  1466.000000
mean      0.137271
std       0.398875
min       0.000000
25%       0.000000
50%       0.000000
75%       0.070000
max       5.040000

In [22]:
feb_df.describe()

         Feb Temps
count  1610.000000
mean     69.442236
std       3.981399
min      56.000000
25%      67.000000
50%      70.000000
75%      72.000000
max      83.000000

In [23]:
results_july_temps=[]
results_july_temps = session.query(Measurement.tobs).filter(extract("month", Measurement.date) == 7).all()
print(results_july_temps[:min(10, len(results_july_temps))])

[(75.0,), (77.0,), (77.0,), (78.0,), (78.0,), (76.0,), (74.0,), (76.0,), (74.0,), (76.0,)]

In [24]:
results_july_temps_dates=[]
results_july_temps_dates = session.query(Measurement.date, Measurement.tobs).filter(extract("month",Measurement.date) == 7).all()
print(results_july_temps_dates[:min(10, len(results_july_temps_dates))])

[('2010-07-01', 75.0), ('2010-07-02', 77.0), ('2010-07-03', 77.0), ('2010-07-04', 78.0), ('2010-07-05', 78.0), ('2010-07-06', 76.0), ('2010-07-07', 74.0), ('2010-07-08', 76.0), ('2010-07-09', 74.0), ('2010-07-10', 76.0)]

In [25]:
results_july_temps = list(np.ravel(results_july_temps))

In [26]:
july_df = pd.DataFrame(results_july_temps, columns=['July Temps'])
july_df.describe()

        July Temps
count  1711.000000
mean     76.082408
std       3.356532
min      61.000000
25%      74.000000
50%      76.000000
75%      78.000000
max      87.000000

In [27]:
results_july_precip = []
results_july_precip = session.query(Measurement.prcp).filter(extract("month",Measurement.date) == 7).all()
print(results_july_precip[:min(10, len(results_july_precip))])

[(0.01,), (0.05,), (0.09,), (0.05,), (0.06,), (0.08,), (0.08,), (0.03,), (0.06,), (0.09,)]

In [28]:
results_july_precip = list(np.ravel(results_july_precip))
july_precip_df = pd.DataFrame(results_july_precip,columns=['July Precip'])

In [29]:
july_precip_df.describe()

       July Precip
count  1569.000000
mean      0.167922
std       0.625977
min       0.000000
25%       0.000000
50%       0.020000
75%       0.120000
max      11.530000